#intro{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1vh;

    overflow: hidden;
}

header{
    flex: 20%;
    max-width: 20%;
    height: 10vh;
    margin-left: 20%;
}

.intro-title{
    font-family: roboto;
}

span{
    color: rgb( 184, 127, 254);
    font-family: roboto;
}


#nav-bar{
    flex: 60%;
    max-width: 60%;
    height: 10vh;
    background-image: linear-gradient(90deg, rgb(90, 0, 244), rgb(150, 120, 247));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-family: roboto;
    align-self: center;
    width: 20%;
    height: 100%;
    line-height: 10vh;
    text-align: center;
}

.nav-link:hover{
    background-color: blueviolet;
    border-radius: 30px;
}


#heading-div{
    flex: 30%;
    max-width: 30%;
    margin-left: 20%;
}

.intro-heading{
    font-family: roboto;
    color: gray;
    font-size: 200%; /*use media query to make font-size 300% on larger screens*/
}

#welcome-image{
    flex: 50%;
    max-width: 50%;
}

p{
    font-size: 0.7rem;
    color: darkgray;
}

.wave{
    width: 50%;
    height: 5vh;
    background-color: rgb(90, 0, 244);
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 5px 10px 20px rgb(124, 124, 228);
    color: white;
    vertical-align: sub;

}

.wave:hover{
    animation-name: button-enlarge;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes button-enlarge{
    0%{
        width: 50%;
    }
    100%{
        width: 70%;
    }
}


#services{
    width: 100%;
    height: 120vh;
    background-color: rgb(250, 252, 254);
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

#services-header{
    font-family: roboto;
    color: rgb(90, 0, 244);
    /* flex: 5%; */
    max-width: 50%;
}

#services-title{
    font-family: roboto;
    color: gray;
    /* flex: 5%; */
    max-width: 50%;
}

#services-paragraph{
    max-width: 50%;
    /* flex: 5%; */
}

#offers-box{
    flex: 75%;
    width: 70%;
    max-height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 5%;
    margin-bottom: 10%;
}

.offer{
    flex: 30%;
    max-width: 30%;
    height: 60%;
    margin-bottom: 10%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first{
    background-image: linear-gradient(360deg, rgb(230, 166, 105), rgb(255, 182, 110));
    box-shadow: 2px 2px 10px  rgb(230, 166, 105);
}

.second{
    background-image: linear-gradient(360deg, rgb(0, 150, 185), rgb(0, 240, 229));
    box-shadow: 2px 2px 10px rgb(0, 150, 185);
}

.third{
    background-image: linear-gradient(360deg, rgb(75, 50, 100), rgb(111, 69, 159));
    box-shadow: 2px 2px 10px rgb(75, 50, 100);
}

.fourth{
    background-image: linear-gradient(360deg, rgb(10, 75, 172), rgb(56, 127, 212));
    box-shadow: 2px 2px 10px rgb(10, 75, 172);
}

.fifth{
    background-image: linear-gradient(360deg, rgb(100, 48, 215), rgb(168, 148, 247));
    box-shadow: 2px 2px 10px rgb(100, 48, 215);
}

.sixth{
    background-image: linear-gradient(360deg, rgb(162, 49, 59), rgb(255, 105, 127));
    box-shadow: 2px 2px 10px rgb(162, 49, 59);
}

.icon{
    max-width: 25%;
    max-height: 25%;
}

.icon-heading{
    font-family: roboto;
    color: white;
}

.icon-paragraph{
    color: white;
    max-width: 70%;
    text-align: center;
}

.icon-button{
    width: 50%;
    height: 12%;
    border-radius: 30px;
    border: 2px solid white;
    background-color: rgb(230, 166, 105);
    color: white;
}

.button-one{
    background-color: rgb(230, 166, 105);
}

.button-two{
    background-color: rgb(0, 150, 185);
}

.button-three{
    background-color: rgb(75, 50, 100);
}

.button-four{
    background-color: rgb(10, 75, 172);
}

.button-five{
    background-color: rgb(100, 48, 215);
}

.button-six{
    background-color: rgb(162, 49, 59);
}

#about{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#about-image{
    flex: 30%;
    max-width: 30%;
    margin-left: 10%;
}

#video-link{
    flex: 55%;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

#about-heading{
    font-family: roboto;
    color: gray;
    font-size: 1.4rem;
}

#youtube{
    /* border: 2px solid black; */
    border-radius: 30px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(90, 0, 244);
    box-shadow: 5px 10px 20px rgb(124, 124, 228);
}

#youtube:hover{
    animation-name: color;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes color{
    20%{
        background-color: rgb(124, 124, 228);
    }
    40%{
        background-color: rgb(56, 127, 212);
    }
    60%{
        background-color: royalblue;
    }
    80%{
        background-color: skyblue;
    }
}

#portfolio{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1vh;
    background-color: rgb(248, 248, 248);

    overflow: hidden;
}

#portfolio-text{
    flex: 30%;
    max-width: 30%;
    height: 50%;
    /* margin-left: 20%; */
}

#portfolio-images{
    flex: 30%;
    max-width: 30%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;    
}

.portfolio-picture{
    flex: 45%;
    max-width: 45%;
    max-height:40%;
    border: 4px solid white;
}

#portfolio-heading{
    font-family: roboto;
    color: gray;
}

.portfolio-paragraph{
    font-family: roboto;
}

#main-portfolio-paragraph{
    font-family: roboto;
    font-weight: bolder;
    color: rgb(90, 0, 244);
    box-shadow: 0px 2px rgb(90, 0, 244);
}

#decoration-div{
    width: 13%;
    height: 2%;
    background-color: rgb(90, 0, 244);
    margin: auto;
    border-radius: 30px;
}

#success{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1vh;

    overflow: hidden;
}

#success-title{
    flex: 100%;
    max-width: 100%;
    height: 20%;
    text-align: center;
}

#success-heading{
    color: gray;
    font-family: roboto;
}

.stat{
    flex: 20%;
    max-width: 20%;
    height: 40%;
    border-radius: 30px;
    box-shadow: 5px 5px 20px lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    line-height: 0px;
    color: gray;
    font-family: roboto;
}

.small-div{
    flex: 50%;
    max-width: 50%;
    height: 50%;
    background-color: blueviolet;
    text-align: center;
    line-height: 100%;
    font-family: roboto;
    color: white;
    border-radius: 20px;
}

#first-small-div{
    background-image: linear-gradient(135deg, rgb( 184, 127, 254), rgb(131, 36, 245));
    box-shadow: 0px 5px 20px rgb(131, 36, 245);
}

#second-small-div{
    background-image: linear-gradient(135deg, rgb( 255, 131, 160), rgb(255, 50, 157));
    box-shadow: 0px 5px 20px rgb(255, 50, 157)
}

#third-small-div{
    background-image: linear-gradient(135deg, rgb( 255, 193, 153), rgb(255, 124, 54));
    box-shadow: 0px 5px 20px rgb(255, 124, 54)

}

.small-div-paragraph{
    font-size: 1rem;
    color: white;
}

#customer{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 1vh;
    background-color: rgb(6,0, 36);

    overflow: hidden;
}

.customer-heading{
    font-family: roboto;
    color: white;
    max-height: 5vh;
}

.customer-paragraph{
    font-family: roboto;
    color: rgb(72, 68, 74);
    max-height: 5vh;
}

#customer-image{
    flex: 30%;
    max-width: 30%;
    max-height: 20vh;
}

#customer-mame{
    font-family: roboto;
    color: rgb( 184, 127, 254);
    max-height: 5vh;
}

#customer-bottom{
    margin-top: 10vh;
    width: 100%;
    max-height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
}

#customer-heading-one{
    flex: 40%;
    max-width: 40%;
    margin-left: 20%; 
    max-height: 5vh;
}

#customer-button-one{
    flex: 20%;
    max-width: 20%;
    margin-right: 15%;
    max-height: 5vh;
}

#customer-bottom::before{
    content: "";
    border-top: 1px rgb( 72, 68, 74) solid;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}

#methods{
    width: 100%;
    height: 60vh;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    overflow: hidden;
}

.methods-div{
    flex: 25%;
    max-width: 25%;
    max-height: 60%;
    background-color: rgb( 72, 68, 74);
    margin-top: 10vh;
    border-radius: 30px;
}  

#first-method{
    background-color: rgb(10, 75, 172);
}

#second-method{
    background-color: rgb(213, 100, 36);
}

#third-method{
    background-color: rgb(145, 130, 247);
}

.decorative-method{
    width: 30%;
    margin-left: 10%;
    margin-top: 15%;
}

.methods-heading{
    font-family: roboto;
    color: white;
    padding: 0px;
    margin: 0px 0px 0px 10%;
}

.methods-paragraph{
    font-family: roboto;
    text-align: left;
    max-width: 50%;
    margin: 0px 0px 0px 10%;
    padding: 0px;
}

#workflow{
    width: 100%;
    height: 200vh;
    background-color: rgb(250, 252, 254);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    overflow: hidden;

    font-family: roboto;
}

#workflow-image{
    flex: 40%;
    max-width: 40%;
}

#our-workflow{
    flex: 60%;
    max-width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

#workflow-data{
    flex: 100%;
    width: 100%;
}

.number-circle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.num{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 5%;
    color: white;
}

.workflow-heading{
    flex: 100%;
    max-width: 100%;
    text-align: center;
    color: gray;
}

.wf-paragraph{
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.wf-img{
    max-width: 25%;
}

#sponsors{
    flex: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.sponsors-icon{
    max-width: 10%;
}